.img{
    width: 350px;
    position: relative;
    top: 100px;
    left: 1250px;
}
.main-container{
    max-width: 600px;
    margin: 0 auto;
}
hr{
    border: none;
    clear: both;
    height: 3px;
    background-color: rgb(63, 62, 62);
    width: 5%;
    position: relative;
    top: 430px;
    right: 350px;
    display: flex;
}

.search-bar-container{
    display:flex;
    background-color: #1f1f1f;
    border-radius: 4px;
    overflow: hidden;
}

.search-input{
    flex-grow: 1;
    padding: 10px 15px;
    border: none;
    background-color: transparent;
    color: #ffffff;
    font-size: 16px;
    outline: none;
}

.language-select{
    padding: 10px;
    color: #aaaaaa;
    font-size: 14px;
    display: flex;
    align-items: center;
    border-right: 1px solid #333333;
    cursor: pointer;
}
.search-button{
    background-color: #3b82f6;
    border: none;
    padding: 10px 18px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: white;
}